<div class="side-menu">
  <div class="block-text"><strong>Filtros</strong></div>
  <!-- Accordion -->
  <div class="list-group" id="accordion" role="tablist" aria-multiselectable="true">
    <a class="list-group-item collapsed <%= @comment_filter? 'active' : '' %>" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      <h4 class="list-group-item-heading">
        Comentarios
      </h4>
      <p class="list-group-item-text">>> <%= @comment_filter? @comment_filter : 'Cualquiera' %></p>
    </a>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <!-- Opciones 2 <-->
      <%= link_to ticker_path(@ticker, stocks: params[:stocks], date: params[:date]), class: 'list-group-item' do %>
        <p class="list-group-item-text">>> Cualquiera</p>
      <% end %>
      <%= link_to ticker_path(@ticker, comments: 'pos',stocks: params[:stocks], date: params[:date]), class: 'list-group-item' do %>
        <p class="list-group-item-text">>> Positivos</p>
      <% end %>
      <%= link_to ticker_path(@ticker, comments: 'neut',stocks: params[:stocks], date: params[:date]), class: 'list-group-item' do %>
        <p class="list-group-item-text">>> Neutros</p>
      <% end %>
      <%= link_to ticker_path(@ticker, comments: 'neg',stocks: params[:stocks], date: params[:date]), class: 'list-group-item' do %>
        <p class="list-group-item-text">>> Negativos</p>
      <% end %>
    </div>
    <a class="list-group-item collapsed <%= @stocks? 'active' : '' %>" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      <h4 class="list-group-item-heading">
        Valor Bursátil
      </h4>
      <p class="list-group-item-text">>>  <%= @stocks? @stocks : 'Cualquiera' %></p>
    </a>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <!-- Opciones 3 <-->
      <%= link_to ticker_path(@ticker, comments: params[:comments], date: params[:date]), class: 'list-group-item' do %>
        <p class="list-group-item-text">>> Cualquiera</p>
      <% end %>
      <%= link_to ticker_path(@ticker, comments: params[:comments], stocks: 'bull', date: params[:date]), class: 'list-group-item' do %>
        <p class="list-group-item-text">>> Al alza</p>
      <% end %>
      <%= link_to ticker_path(@ticker, comments: params[:comments], stocks: 'bear', date: params[:date]), class: 'list-group-item' do %>
        <p class="list-group-item-text">>> A la baja</p>
      <% end %>
    </div>
    <a class="list-group-item collapsed <%= @date_filter? 'active' : '' %>" role="tab" id="headingFour" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
      <h4 class="list-group-item-heading">
        Desde
      </h4>
      <p class="list-group-item-text active">>>  <%= @date_filter? @date_filter : 'Hoy' %></p>
    </a>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <!-- Opciones 4 <-->
      <%= link_to ticker_path(@ticker, comments: params[:comments], stocks: params[:stocks]), class: 'list-group-item' do %>
        <p class="list-group-item-text">>> Hoy</p>
      <% end %>
      <%= link_to ticker_path(@ticker, comments: params[:comments], stocks: params[:stocks], date: 'yesterday'), class: 'list-group-item' do %>
        <p class="list-group-item-text">>> Ayer</p>
      <% end %>
      <%= link_to ticker_path(@ticker, comments: params[:comments], stocks: params[:stocks], date: 'oneweek'), class: 'list-group-item' do %>
        <p class="list-group-item-text">>> Hace una semana</p>
      <% end %>
      <%= link_to ticker_path(@ticker, comments: params[:comments], stocks: params[:stocks], date: 'onemonth'), class: 'list-group-item' do %>
        <p class="list-group-item-text">>> Hace un mes</p>
      <% end %>
    </div>
  </div>
</div>
