<% content_for(:side_menu) do %>
  <%= render 'side_menu' %>
<% end %>

<canvas id="canvas" class="canvas" width="600" height="250"></canvas>

<!--
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tickers.each do |ticker| %>
      <tr>
        <td><%= link_to 'Show', ticker %></td>
        <td><%= link_to 'Edit', edit_ticker_path(ticker) %></td>
        <td><%= link_to 'Destroy', ticker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticker', new_ticker_path %>-->
<%= javascript_include_tag "tickers_wordcloud", "data-turbolinks-track" => true %>