<!-- <h4>
  Categoría:
</h4>
<select class="form-control">
  <option value="tech">Tecnología</option>
</select>
<br/>-->

<div class="row">
  <div class="col-lg-3">
    <div class="side-menu">
      <div class="block-text"><strong>Filtros</strong></div>
      <div class="list-group">
        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">Categoría</h4>
          <p class="list-group-item-text">>> Tecnología</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Comentarios</h4>
          <p class="list-group-item-text">>> Todos</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Valor Bursátil</h4>
          <p class="list-group-item-text">>> Cualquiera</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Desde</h4>
          <p class="list-group-item-text">>> Hoy</p>
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <canvas id="canvas" class="canvas" width="600" height="250"></canvas>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tickers.each do |ticker| %>
      <tr>
        <td><%= link_to 'Show', ticker %></td>
        <td><%= link_to 'Edit', edit_ticker_path(ticker) %></td>
        <td><%= link_to 'Destroy', ticker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticker', new_ticker_path %>

<%= javascript_include_tag "specifics/tickers" %>
<%= javascript_include_tag "specifics/tickers_wordcloud" %>