<p id="notice"><%= notice %></p>
<div class="page-header">
<h1><%= @ticker.official_name %><small> - <%= @ticker.cashtag %> 
    <span title="Comentarios Positivos" class="badge badge-bull">6</span>
    <span title="Comentarios Neutros" class="badge">1</span>
    <span title="Comentarios Negativos" class="badge badge-bear">0</span></small></h1>
</div>

<%= link_to 'Edit', edit_ticker_path(@ticker) %> |
<%= link_to 'Back', tickers_path %>
